@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  scrollbar-width: none;
}

::selection {
  background-color: #bbf7d0;
  color: black;
}

@media (min-width: 700px) {
 body {
    margin: 0;
    padding: 0;
    background-color: #f79999; 
    background-image: url('../public/clb-logo.png'), url('../public/clb-logo.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center; 
    background-size: 650px auto, 550px auto; 
  }


#root {
  max-width: 280px; /* ancho del contenedor */
  margin: 0 auto;
}
}

